body {
  font: 'Consolas', monospace;
  line-height: 25px;
}

svg {
  display: inline-block;
  width: 10px;
  height: 15px;
  padding-right: 2px;
}

.name {
  display: inline-block;
  padding-left: 2px;
}

.container {
  margin-left: 20px;
}

.empty-div {
  display: inline-block;
  width: 16px;
}